.idea/
cache/

# Ignore all files in outputs/maps/ except take_position.txt
outputs/maps/
!outputs/maps/take_position.txt

outputs/data/Points_prepared.json
outputs/data/tsp_graph_first_solution.gexf
*.zip

